<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64" fixedBottomGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">home</i>
                Início
            </a>
            <a mat-list-item routerLink="/pessoa/list">
                <i class="material-icons">person</i>
                Pessoa
            </a>
            <a mat-list-item routerLink="/professor/list">
                <i class="material-icons">local_library</i>
                Professor
            </a>
            <a mat-list-item routerLink="/disciplina/list">
                <i class="material-icons">book</i>
                Disciplina
            </a>
            <a mat-list-item routerLink="/oferta/list">
                <i class="material-icons">bookmarks</i>
                Oferta
            </a>
            <a mat-list-item routerLink="/curso/list">
                <i class="material-icons">subject</i>
                Curso
            </a>
            <a mat-list-item routerLink="/aluno/list">
                <i class="material-icons">person</i>
                Aluno
            </a>
            <a mat-list-item routerLink="/matricula/list">
                <i class="material-icons">bookmarks</i>
                Matricula
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content ">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>